<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="app.css" />
    <title>VueJS</title>
</head>

<body>

    <section class="container" id="app">
        <div class="d-flex flex-row justify-content-between">
            <div class="left-bar">

                <h1>To Do</h1>
                <button @click="onClick">
                        <i class="ion-navicon"></i>
                    </button>

            </div>
            <div class="p-2"></div>

            <div class="p-2">
                <div class="btn-group">
                    <button type="button" class="btn btn-danger" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{ priorityFilter }}
                    </button>
                    <button type="button" class="btn btn-danger" @click="priorityFilter = 'Select priority'">
                            X
                    </button>
                    <div class="dropdown-menu">
                        <label><input type="radio" v-model="priorityFilter" value="Hight Priority"/>  Hight Priority</label>
                        <label><input type="radio" v-model="priorityFilter" value="Medium Priority"/>  Medium Priority</label>
                        <label><input type="radio" v-model="priorityFilter" value="Low Priority"/>  Low Priority</label>


                    </div>
                </div>
            </div>

            <div class="p-2">
                <button type="button" class="btn btn-primary" @click="sortTasks()">
                    Sort by date
                </button>
            </div>

            <div class="p-2">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addModal">
                    + Add To Do
                </button>
                <!--ADD MODAL-->
                <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h3 class="modal-title" id="addModalLabel">Add task in To Do list</h3>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>

                            <div class="modal-body d-flex flex-column">

                                <h5 class="modal-title">Task name:</h5>
                                <input class="form-text" placeholder="New task" type="text" v-model="newTask.title">
                                <hr>
                                <h5 class="modal-title">Select task priority:</h5>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-danger dropleft" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    {{ newTask.priority }}
                                        </button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" @click="selectPriority('Hight Priority')" href="#">Hight Priority</a>
                                        <a class="dropdown-item" @click="selectPriority('Medium Priority')" href="#">Medium Priority</a>
                                        <a class="dropdown-item" @click="selectPriority('Low Priority')" href="#">Low Priority</a>

                                    </div>
                                </div>
                                <hr>
                                <h5 class="modal-title">Task description:</h5>
                                <textarea class="form-group" placeholder="Description..." type="text" v-model="newTask.desc"></textarea>

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-success" @click="addTask">Add</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="p-2">
                <h1 class="">Key</h1>
            </div>
        </div>

        <div class="d-flex flex-row">

            <transition name="slide-fade">
                <aside class="left-bar-button" v-show="show">
                    <hr>
                    <div class="btn-group">
                        <button class="btn btn-warning">HOME</button>
                        <button class="btn btn-warning">SETTINGS</button>
                    </div>
                    <hr>
                </aside>
            </transition>

            <div class="flex-column task-container">
                <h3 class="">{{"To Do: "+ tasks.length}}</h3>

                <div class="task-block content" v-for="(task, index) of displayTasks">

                    <!--EDIT MODAL-->
                    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h3 class="modal-title" id="editModalLabel">Edit task</h3>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body d-flex flex-column">

                                    <h5 class="modal-title">Current name - {{ task.title }} - {{ editTask.title }}:</h5>
                                    <input class="form-text" placeholder="New task name" type="text" v-model="editTask.title">
                                    <hr>
                                    <h5 class="modal-title">Current task priority - {{ task.priority }}:</h5>
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-danger dropleft" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                {{ editTask.priority }}
                                            </button>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item" @click="editTask.priority = 'Hight Priority'" href="#">Hight Priority</a>
                                            <a class="dropdown-item" @click="editTask.priority = 'Medium Priority'" href="#">Medium Priority</a>
                                            <a class="dropdown-item" @click="editTask.priority = 'Low Priority'" href="#">Low Priority</a>

                                        </div>
                                    </div>
                                    <hr>
                                    <h5 class="modal-title">Task description:</h5>
                                    <textarea class="form-group" placeholder="Description..." type="text" v-model="editTask.desc"></textarea>

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-success" @click="saveTask(index)">Save</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="d-flex flex-row justify-content-between">
                        <p>
                            {{ task.title }}
                        </p>
                        <p>
                            {{ task.priority }}
                        </p>
                        <p>
                            {{ task.createDate }}
                        </p>
                        <div class="btn-group dropleft">
                            <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="ion-navicon"></i>
                                    </button>

                            <div class="dropdown-menu">
                                <a class="dropdown-item  btn-success" @click="complete(task)" href="#">Complete</a>
                                <a class="dropdown-item  btn-success" data-toggle="modal" data-target="#editModal" @click="setEditIndex(index)">Edit</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item btn-danger" @click="removeTask(task)" href="#">Delete Task</a>
                            </div>
                        </div>
                    </div>

                    <div>
                        <p>
                            {{ task.desc }}
                        </p>
                    </div>
                </div>

                <h3 class="">{{"Completed: "+ solvedTasks.length}}</h3>

                <div class="task-block content" v-for="solvedTask of solvedTasks">

                    <div class="d-flex flex-row justify-content-between">
                        <p>
                            {{ solvedTask.title }}
                        </p>
                        <p>
                            {{ solvedTask.priority }}
                        </p>
                        <p>
                            {{ solvedTask.createDate }}
                        </p>
                        <div class="btn-group dropleft">
                            <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="ion-navicon"></i>
                                </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item btn-primaru " @click="returnInToDo(solvedTask)" href="#">Return in To Do</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item btn-danger active" @click="removeSolvedTask(solvedTask)" href="#">Delete Task</a>
                            </div>
                        </div>
                    </div>

                    <div>
                        <p>
                            {{ solvedTask.desc }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
        </div>
        </div>
        </div>
        </div>
        </div>
    </section>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script src="app.js"></script>
</body>

</html>